<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>What is Mental Health?</h2>
            <h3>
                <small>Mental health problems are common. However, most people with mental problems can get better.</small>
            </h3>
        </div>
        <div id="buttons">
            <div class="tim-title">
                <h3>
                    <small>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.</small>
                </h3>
                <h3>
                    <small>Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected. Many factors contribute to mental health problems, including:</small>
                </h3>
                <h3>
                <ul>
                    <small><li>Biological factors, such as genes or brain chemistry</li></small>
                </ul>
                </h3>
                <h3>
                    <ul>
                        <small><li>Life experiences, such as trauma or abuse</li></small>
                    </ul>
                </h3>
                <h3>
                    <ul>
                        <small><li>Family history of mental health problems</li></small>
                    </ul>
                </h3>
                <h3><small>Mental health problems are common but help is available. People with mental health problems can get better and many recover completely.</small></h3>

                <h2>Early Warning Signs</h2>
            <h3><small>Not sure if you or someone you know is living with mental health problems? Experiencing one or more of the following feelings or behaviors can be an early warning sign of a problem:</small></h3>
            <h3>
                <ul>
                    <small><li>Eating or sleeping too much or too little</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Pulling away from people and usual activities</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Having low or no energy</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Feeling numb or like nothing matters</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Having unexplained aches and pains</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Feeling helpless or hopeless</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Smoking, drinking, or using drugs more than usual</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Feeling unusually confused, forgetful, on edge, angry, upset, worried, or scared</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Yelling or fighting with family and friends</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Experiencing severe mood swings that cause problems in relationships</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Having persistent thoughts and memories you can't get out of your head</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Hearing voices or believing things that are not true</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Thinking of harming yourself or others</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Inability to perform daily tasks like taking care of your kids or getting to work or school</li></small>
                </ul>
            </h3>
            <h2>Mental Health and Wellness</h2>
            <h3><small>Positive mental health allows people to:</small></h3>
            <h3>
                <ul>
                    <small><li>Realize their full potential</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Cope with the stresses of life</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Work productively</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Make meaningful contributions to their communities</li></small>
                </ul>
            </h3>
            <h3><small>Ways to maintain positive mental health include:</small></h3>
            </div>
            <h3>
                <ul>
                    <small><li>Getting professional help if you need it</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Connecting with others</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Staying positive</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Getting physically active</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Helping others</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Getting enough sleep</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Developing coping skills</li></small>
                </ul>
            </h3>
            <h2>Recovery is Possible</h2>
            <h3><small>Recovery from mental disorders and/or substance abuse disorders is a process of change through which individuals:</small></h3>
            <h3>
                <ul>
                    <small><li>Improve their health and wellness</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Live a self-directed life</li></small>
                </ul>
            </h3>
            <h3>
                <ul>
                    <small><li>Strive to achieve their full potential</li></small>
                </ul>
            </h3>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-danger">Default</button>
                    <button type="button" class="btn btn-danger btn-round">Round</button>
                    <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                    <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-danger btn-link">Simple</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your size</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-danger btn-sm">Small</button>
                    <button type="button" class="btn btn-outline-danger">Regular</button>
                    <button type="button" class="btn btn-outline-danger btn-lg">Large</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your color</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-default btn-round">Default</button><button type="button" class="btn btn-outline-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-outline-info btn-round">Info</button>
                    <button type="button" class="btn btn-outline-success btn-round">Success</button>
                    <button type="button" class="btn btn-outline-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-outline-danger btn-round">Danger</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-default btn-round">Default</button>
                    <button type="button" class="btn btn-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-info btn-round">Info</button>
                    <button type="button" class="btn btn-success btn-round">Success</button>
                    <button type="button" class="btn btn-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-danger btn-round">Danger</button>
                </div>
            </div>
        </div>
            <br/>
        <div class="tim-title">
            <h3>Links</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#0" class="btn btn-link btn-default">Default</a>
                <a href="#0" class="btn btn-link btn-primary">Primary</a>
                <a href="#0" class="btn btn-link btn-success">Success</a>
                <a href="#0" class="btn btn-link btn-info">Info</a>
                <a href="#0" class="btn btn-link btn-warning">Warning</a>
                <a href="#0" class="btn btn-link btn-danger">Danger</a>
                <a href="#0" class="btn btn-link btn-neutral">Neutral</a>
            </div>
        </div>
        <br/>
        <div class="tim-title">
            <h3>Inputs</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-danger">
                    <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Checkboxes</h3>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    Checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="">
                    Disabled unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                    Disabled checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Radio Buttons</h3>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                    Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked="">
                    Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" disabled="">
                    Disabled Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option3" checked disabled="">
                    Disabled Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Toggle Buttons</h3>
                </div>
                <bSwitch
                    [switch-on-color]="'primary'">
                </bSwitch>
                <bSwitch
                    [switch-on-color]="'primary'"
                    [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Sliders</h3>
                </div>
                <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="false" class="slider"></nouislider>
                <br>
                <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="false"></nouislider>
            </div>
        </div>
    </div>
</div>
