<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="page-header section-dark" style="background-image: url('assets/img/art.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Mental Health is Wealth</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Offering a Voice to the Voiceless</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<mat-tab-group>
    <mat-tab label="What is Mental Health">
        <div class="section section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>What is Mental Health?</h2>
                    <h3>
                        <small>Mental health problems are common. However, most people with mental problems can get better.</small>
                    </h3>
                </div>
                <div id="buttons">
                    <div class="tim-title">
                        <h3>
                            <small>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.</small>
                        </h3>
                        <h3>
                            <small>Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected. Many factors contribute to mental health problems, including:</small>
                        </h3>
                        <h3>
                        <ul>
                            <small><li>Biological factors, such as genes or brain chemistry</li></small>
                        </ul>
                        </h3>
                        <h3>
                            <ul>
                                <small><li>Life experiences, such as trauma or abuse</li></small>
                            </ul>
                        </h3>
                        <h3>
                            <ul>
                                <small><li>Family history of mental health problems</li></small>
                            </ul>
                        </h3>
                        <h3><small>Mental health problems are common but help is available. People with mental health problems can get better and many recover completely.</small></h3>
        
                        <h2>Early Warning Signs</h2>
                    <h3><small>Not sure if you or someone you know is living with mental health problems? Experiencing one or more of the following feelings or behaviors can be an early warning sign of a problem:</small></h3>
                    <h3>
                        <ul>
                            <small><li>Eating or sleeping too much or too little</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Pulling away from people and usual activities</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Having low or no energy</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Feeling numb or like nothing matters</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Having unexplained aches and pains</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Feeling helpless or hopeless</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Smoking, drinking, or using drugs more than usual</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Feeling unusually confused, forgetful, on edge, angry, upset, worried, or scared</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Yelling or fighting with family and friends</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Experiencing severe mood swings that cause problems in relationships</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Having persistent thoughts and memories you can't get out of your head</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Hearing voices or believing things that are not true</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Thinking of harming yourself or others</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Inability to perform daily tasks like taking care of your kids or getting to work or school</li></small>
                        </ul>
                    </h3>
                    <h2>Mental Health and Wellness</h2>
                    <h3><small>Positive mental health allows people to:</small></h3>
                    <h3>
                        <ul>
                            <small><li>Realize their full potential</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Cope with the stresses of life</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Work productively</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Make meaningful contributions to their communities</li></small>
                        </ul>
                    </h3>
                    <h3><small>Ways to maintain positive mental health include:</small></h3>
                    </div>
                    <h3>
                        <ul>
                            <small><li>Getting professional help if you need it</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Connecting with others</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Staying positive</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Getting physically active</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Helping others</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Getting enough sleep</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Developing coping skills</li></small>
                        </ul>
                    </h3>
                    <h2>Recovery is Possible</h2>
                    <h3><small>Recovery from mental disorders and/or substance abuse disorders is a process of change through which individuals:</small></h3>
                    <h3>
                        <ul>
                            <small><li>Improve their health and wellness</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Live a self-directed life</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Strive to achieve their full potential</li></small>
                        </ul>
                    </h3>
                    <h2>Four Dimensions of Recovery</h2>
                    <h3><small>Four major dimensions support a life in recovery:</small></h3>
                    <h3>
                        <ul>
                            <small><li><b>Health:</b> Make informed, healthy choices that support physical and emotional well-being.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li><b>Home:</b> Have a stable and safe place to live.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li><b>Purpose:</b> Engage in meaningful daily activities, such as a job or school, volunteering, caring for your family, or being creative. Work for independence, income, and resources to participate in society.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li><b>Community:</b> Build relationships and social networks that provide support.</li></small>
                        </ul>
                    </h3>
                    <h2>Develop a Recovery Plan</h2>
                    <h3><small>If you are struggling with a mental health problem, you may want to develop a written recovery plan.</small></h3>
                    <h3><small>Recovery plans:</small></h3>
                    <h3>
                        <ul>
                            <small><li>Enable you to identify goals for achieving wellness</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Specify what you can do to reach those goals</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Include daily activities as well as longer term goals</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Track any changes in your mental health problem</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Identify triggers or other stressful events that can make you feel worse, and help you learn how to manage them</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Get information about Partners for Recovery, which provides technical resources to those who deliver services for mental health and substance abuse conditions.</li></small>
                        </ul>
                    </h3>
                    <hr>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="When Should You Treat It">
        <div class="section section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>When is an evaluation or treatment needed?</h2>
                    <h3>
                        <small>Each mental health condition has its own signs and symptoms. In general, however, professional help might be needed if you experience:</small>
                    </h3>
                </div>
                <div id="buttons">
                    <div class="tim-title">
                        <h3>
                        <ul>
                            <small><li>Marked changes in personality, eating or sleeping patterns</li></small>
                        </ul>
                        </h3>
                        <h3>
                            <ul>
                                <small><li>An inability to cope with problems or daily activities</li></small>
                            </ul>
                        </h3>
                        <h3>
                            <ul>
                                <small><li>Feeling of disconnection or withdrawal from normal activities</li></small>
                            </ul>
                        </h3>
                    <h3>
                        <ul>
                            <small><li>Unusual or "magical" thinking</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Excessive anxiety</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Prolonged sadness, depression or apathy</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Thoughts or statements about suicide or harming others</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Substance misuse</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Extreme mood swings</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Excessive anger, hostility or violent behavior</li></small>
                        </ul>
                    </h3>
                    <h3><small>Many people who have mental health disorders consider their signs and symptoms a normal part of life or avoid treatment out of shame or fear. If you're concerned about your mental health, don't hesitate to seek advice.</small></h3>
                    <h3><small>Consult your primary care doctor or make an appointment with a psychiatrist, psychologist or other mental health professional. It may be important for you to find a professional who is familiar with your culture or who demonstrates an understanding of the cultural and social context that's relevant to your experiences and life story.</small></h3>
                    <h3><small>With appropriate support, you can identify mental health conditions and receive appropriate treatment, such as medications or counseling.</small></h3>
                    <h2>How are mental health disorders defined?</h2>
                    <h3><small>The Diagnostic and Statistical Manual of Mental Disorders (DSM) is a guide published by the American Psychiatric Association that explains the signs and symptoms of several hundred mental health conditions, including anxiety, depression, eating disorders, post-traumatic stress disorder and schizophrenia.</small></h3>
                    <h3><small>The DSM provides criteria for making a diagnosis based on the nature, duration and impact of signs and symptoms. It also describes the typical course of the disorder, risk factors and common co-existing conditions.</small></h3>
                    <h3><small>Another commonly used diagnostic guideline is the International Classification of Diseases (ICD) from the World Health Organization.</small></h3>
                    <h3><small>Health insurance companies use the diagnostic coding system of the DSM and ICD in determining coverage and benefits and to reimburse mental health professionals.</small></h3>
                    <h2>How do mental health professionals diagnose disorders?</h2>
                    <h3><small>A diagnosis of a mental health condition may be made by a psychiatrist, psychologist, clinical social worker or other mental health professional. Your primary care doctor may also be involved in a diagnostic assessment or make referrals to a mental health specialist.</small></h3>
                    <h3><small>A diagnosis may be based on the following:</small></h3>
                    <h3>
                        <ul>
                            <small><li>A medical history of physical illness or mental health disorders in you or in your family</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>A complete physical to identify or rule out a condition that may be causing symptoms</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questions about your current concerns or why you're seeking help</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questions about how recent events or changes in your life — trauma, relationships, work, death of a friend or relative — have affected how you think, feel or behave</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questionnaires or other formal tests that ask for your feedback on how you think, feel or behave in typical situations</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questions about past and current alcohol and drug use</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>A history of trauma, abuse, family crises or other major life events</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questions about past or current thoughts about violence against yourself or others</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Questionnaires or interviews completed by someone who knows you well, such as a parent or spouse</li></small>
                        </ul>
                    </h3>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Concept of Mental Health Advocacy">
        <div class="section section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>What is advocacy and why is it important?</h2>
                    <h3>
                        <small>
                            Mental health advocacy includes a variety of different actions aimed at changing the
                            major structural and attitudinal barriers to achieving positive mental health outcomes in
                            populations. The concept, which is relatively new, was initially developed to reduce stigma
                            and discrimination and to promote the human rights of persons with mental disorders. 
                        </small>
                    </h3>
                    <h3>
                        <small>
                            Over the last 30 years the needs and rights of persons with severe mental disorders
                            have become more visible. Families and, subsequently, consumers developed
                            organizations enabling their voices to be heard. They were joined and supported by a range
                            of nongovernmental organizations, many mental health workers and their associations, and
                            some governments. More recently, the concept of advocacy has been broadened to
                            include the needs and rights of persons with less severe mental disorders and the mental
                            health needs of the general population.
                        </small>
                    </h3>
                    <h3>
                        <small>
                            Advocacy is one of the 11 areas for action in any mental health policy because of the
                            benefits that are produced for consumers and families. (See Mental Health Policy, Plans
                            and Programmes.) The advocacy movement has substantially influenced mental health
                            policy and legislation in various countries and is believed to be a major factor in the
                            improvement of services in others (World Health Organization, 2001a). In several places
                            it is responsible for an increased awareness of the role of mental health in the quality of
                            life of populations. In many societies, robust support networks have been established
                            through advocacy organizations.
                        </small>
                    </h3>
                    <h3>
                        <small>
                            Actions typically associated with advocacy include the raising of awareness, the
                            dissemination of information, education, training, mutual help, counselling, mediating,
                            defending and denouncing.
                        </small>
                    </h3>
                    <h2>Barriers to mental health</h2>
                    <h3>
                        <small>
                            The advocacy movement has developed in response to several global barriers to mental
                            health. In most parts of the world, mental health and mental disorders are not regarded
                            with anything like the same importance as physical health. Instead, they have been
                            largely ignored or neglected (World Health Organization, 2001a).
                        </small>
                    </h3>
                    <h3>
                        <small>
                            Only a small minority of people with mental disorders receive even the most basic treatment.
                            Many of them become targets of stigma and discrimination. Many communities are
                            faced with factors that present risks to mental health. 
                        </small>
                    </h3>
                    <h3>
                        <small>
                            Among the barriers to mental health are the following:
                        </small>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Lack of mental health services. For example, only 51% of the world’s population
                                have access to treatment for severe mental disorders at the primary care level (World
                                Health Organization, 2001b). Moreover, the available treatment is not necessarily effective
                                or comprehensive.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Unaffordable cost of mental health care, including out-of-pocket payments, even in
                                developed countries. For example, out-of-pocket expenditure is the primary method of
                                financing in 39.6% of low-income countries (World Health Organization, 2001b). </li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Lack of parity between mental health and physical health. For example, investments
                                made by governments and health insurance companies in mental health are disproportionately small.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Poor quality of care in mental hospitals and other psychiatric facilities.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>- Absence of alternative services run by consumers.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Paternalistic services, in which the views of service providers are emphasized and
                                those of consumers are not considered.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Violations of human rights of persons with mental disorders</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Lack of housing and employment for persons with mental disorders. </li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Stigma associated with mental disorders, resulting in exclusion</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Absence of programmes for the promotion of mental health and the prevention of
                                mental disorders in schools, workplaces and neighbourhoods.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Lack or insufficient implementation of mental health policies, plans, programmes and
                                legislation. More than 40% of countries have no mental health policy, over 30% have
                                no mental health programme, and over 90% have no mental health policy that includes
                                children and adolescents (World Health Organization, 2001b).</li></small>
                        </ul>
                    </h3>
                </div>
                <hr>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Mental Health Resources">
        <div class="section section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>Mental Health Resources</h2>
                    <h2><small>A list of Mental Health Resources focused on the Philippines.  Ctrl + F to search relevant information, such as your location, affordability, etc.</small></h2>
                    <br>
                    <h2>COVID-19 Mental Health and Psychosocial Support in the Philippines</h2>
                    <h3>
                        <ul>
                            <small><li>NCMH Crisis Hotline: Provides free mental health support for all affected by COVID-19. Reach them at 0917-899-USAP(8727) or 7-7-989-USAP (827).</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Philippine Mental Health Association online counseling: Get in touch with them via Facebook Messenger or through pmhacds@gmailcom / 0917-565-2036.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Mental Health First Responders Emotional/Peer Support Services</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Ugnayan ng Pahinungód provides free online basic psychosocial support services for members of the UPD community: communitypsp.updpahinungod@gmail.com</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>UP PsycServ signup here for members of the UPD community, or anyone affected by the pandemic: bit.ly/PsycServ or contact through psycserv.upd@up.edu.ph / 09167573157 / 8981-8500 loc. 2496</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>UP Health Services Psychiatrist for students of UPD – schedule through email lusogisip.uhs@gmail.com</li></small>
                        </ul>
                    </h3>
                    <h4>Online Telemental Health Services</h4>
                    <h3>
                        <ul>
                            <small><li>Mind Care Club: NCR-based network of mental health psychiatrists, psychologists, and counselors delivering treatment and therapy through video conference online</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Recovery Hub:  Cebu-based mental health platform that offers Psychiatric Consultations with licensed Filipino doctors through video conference online. Contact them at their Facebook page or through landline at (032) 344 2142.</li></small>
                        </ul>
                    </h3>
                    <h4>Hotlines</h4>
                    <h3>
                        <ul>
                            <small><li>New DOH – National Center for Mental Health (NCMH) Crisis Hotlines – 0917 899 8727 (USAP) and (02) 7-989-8727 (USAP)</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Natasha Goulbourn Foundation (NGF) – (02) 8-804-HOPE (4673), 0917 558 HOPE (4673) or 2919 (toll-free for GLOBE and TM subscribers).</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>In Touch Community Services Crisis Lines – Relationship problems, addiction, abuse, other emotional problems. (02) 8-893 7603, 0917 8001123 (Globe subscribers), 0922 8938944 (Sun subscribers). Email at crisisline@i-manila.com.ph.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Living Free Foundation – Addiction, individual and marital counseling. Contact them at 0917 883 3161 or through livingfreefoundation@gmail.com.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Mood Harmony – Makati Medical Center’s mood disorder support group. (02) 844-2941.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dial-a-Friend – (02) 5251743 or (02) 5251881.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>UGAT Foundation – Psychospiritual counseling. (02) 8-426-6496; ugat@admu.edu.ph</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>700 Club Asia – Prayer and counseling services via chat and Skype. Contact their Manila Office through these contact information: (02) 8-737-0700; 1-800-1-888-8700 (toll-free); 0949-889-8138 (Smart); 0943-706-7633/ 0943-145-4815 (Sun); 0917-836-1531 (Globe), Skype: the700clubasia, email: prayforme@cbnasia.org.</li></small>
                        </ul>
                    </h3>
                    <h4>Clinics, Centers, and Foundations</h4>
                    <h3>
                        <ul>
                            <small><li>PsychConsult Inc. – Located at Cubao, Quezon City. Contact numbers are (02) 8-421-2469 / (02) 8-692-9844 / 0917 808 0193.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Philippine Psychiatric Association (PPA) – Located at Ortigas Center, Pasig City. Contact via (02) 635-9858 or email philpsych.org@gmail.com. Search in their list of PPA Certified Psychiatrists here: http://philippinepsychiatricassociation.org/psychiatrist/</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Philippine Mental Health Association (PMHA) – HQ located at Quezon City, with chapters at Bacolod-Negros Occidental, Baguio-Benguet, Cabanatuan-Nueva Ecija, Cagayan de Oro-Misamis Oriental, Cebu, Dagupan-Pangasinan, Davao, Dumaguete-Negros Oriental, and Lipa-Batangas. Contact through email pmhacds@gmail.com, or (02) 8-921 4958, (02) 8-921 4959, 0917 565 2036.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>National Center for Mental Health (NCMH) – Mental health concerns and services. Located at Mandaluyong. Contact via email mcc@ncmh.gov.ph/pro@ncmh.gov.ph or landline (02) 531 9001 (connecting all departments).</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Jaime C. Bulatao, SJ Center for Psychology Services (Bulatao Center) – Located at Ateneo de Manila University. Click the link for a full list of their counseling, clinical, community and training services. Contact through email bulataocenter.ls@ateneo.edu or (02) 426-5982.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Amang Rodriguez Memorial Medical Center – Located at Juan Sumulong Highway, Marikina. Provides basic consulting and brief psychotherapeutic techniques. Consulting Hours are 8 am – 5 pm (Monday to Friday, excluding non-working holidays and work cancellations); Registration Hours/Cut-off: AM Sessions – 8 to 10 PM. Contact at (02) 8-948-0595 / 8-941-0342.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Eastern Visayas Regional Medical Center Department of Psychiatry – Located at Magsaysay Blvd. Tacloban City. Consultation Hours: 8 am – 5 pm Monday to Friday except for Thursday. AM for old patients, PM for new patients. [FREE!] HOWEVER, one must have registered/had a medical card from New EVRMC Cabalawan before availing of the services.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Center for Psychological Extension and Research Services (COPERS) – Located at Ateneo de Davao University, E. Jacinto St., Davao City (08) 2-221-2411 local 8273.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Prescription Psychiatrists and Psychologists – Outpatient Psychiatry, CBT, Behavioural therapy, marriage counselling. Located at Unit 2511A Centuria Medical Makati Kalayaan Ave. cor. Salamanca St., Brgy Poblacion, Makati. Contact at 09173247110 or clinic@prescriptionpsychiatrists.com.ph.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Ateneo Center for Family Ministries Foundation (CEFAM) – family and individual counseling via a psycho-spiritual approach. Located at Ateneo de Manila University. Contact them at (02) 8-426-4289 up to 92 or through email cefam.ateneo@gmail.com [PAY WHAT YOU WANT/AFFORDABLE!]</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>In Touch Community Services – Located at McKinley Rd, Makati City. Offers professional counseling (adults, children and families of Filipinos and expatriates), has subsidized counseling options. Offers psychological testing, as well. Contact at (02) 8-893-1893 / 0917-863-1136 / 0956-053-4257.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Reintegration for Care and Wholeness Foundation, Inc. (RCW) – Located at Quezon City. Click the link for the full list of counseling services offered. Contact them at (+02) 3-436-0710 or through email at rcw_foundation@yahoo.com.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Door of Hope Counseling Resource Center – Located at Makati. Individual, couples and family psychospiritual counseling, as well as retreats. Contact at (02) 750 8044.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Graymatters Psychological Center – Located in Madrigal, Alabang. Also offers Industrial Organization Services. Contact them at (02) 256 0641 / 09177096961 or through email at info@graymattersphilippines.com.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Espada Psychological Consultancy – Three multidisciplinary professional psychologists providing mental health services, assessment and intervention in Espada Psychological Consultancy, Room No. 5, Doctor’s Offices Building, Sto. Entierro St., Angeles City, Pampanga. Contact them at 0915 880 2045.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dear Future Self (DFS) Consulting PH – Individual Therapy, Everyday Stress & Anxiety, Relationship Problems, Personal Development & Emotional Counseling, Loss & Grief, Life Coaching: Setting Goals, Priorities & Purpose, Quarter-Life Crisis, Family Issues & Family Therapy; Employee Counseling, Work Stress & Work-Life Balance. Address is at Unit H (KB) One Roxas Square (wazeable) #1 F. Roxas Street Corner Blumentritt San Juan City, Metro Manila. Contact at hello@dfsconsultingph.com.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Philippine General Hospital – Department of Psychiatry & Behavioral Medicine – Located at 2/F, Ward 7, Philippine General Hospital, Taft Avenue, Ermita Brgy 670 Zone 72, Manila, Metro Manila. Contact Number(s): (02) 554-8400 loc. 2436 or 2440; (02) 554-88470, (02) 526-0150; (02) 554-8469, or email them at pghpsychiatry@gmail.com.</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Bofill Psychological Services – Located in Mayon Street, Quezon City. The clinic provides face to face and online services with socialized rates. Contact them at 0923 844 7755.</li></small>
                        </ul>
                    </h3>
                    <h4>Individual Psychological Service Providers</h4>
                    <h3>
                        <ul>
                            <small><li>Dr. Ampil – Metro North Medical Center, Mindanao Avenue, QC (PHP700/session as of 2018). Contact through hotline: 426-8000</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dra. Luz Katigbak – Makati Med (PHP2000/session) +639234946673</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Constantine Della (WESTGATE CLINIC, Alabang) – tel: 09179333446</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Kristine Roldan (ASIAN, Alabang) – Michelle (secretary) 09178636163 / 027719000</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Michelle Marie Marinas (WESTGATE CLINIC, Alabang) – tel: 771-13-53</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Alvin Teopaco (Pampanga) – 09166880888</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Romeo Yu Enriquez (Angeles University Foundation, Pampanga; Mon-Fri, 10AM-2PM) – for appointments, you may contact his secretary Lorie – 09338504541</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Dr. Myrna Astillero (Pampanga) – 09278125905</li></small>
                        </ul>
                    </h3>
                    <h4>School Based Resources</h4>
                    <h3>
                        <ul>
                            <small><li>ADMU list of MH resources for students compiled by the Ateneo Office of Student Affairs (2018)</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Mental health service in UPD – UP Diliman Department of Psychology’s PsychServ (2018)</li></small>
                        </ul>
                    </h3>
                    <h2>International</h2>
                    <h4>Hotlines</h4>
                    <h3>
                        <ul>
                            <small><li>Drugrehab.com 24/7 hotline across the USA – 855-520-2898</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>National Alliance on Mental Health (NAMI) helpline – 800-950-NAMI (M-F, 10 AM – 6 PM ET) across the USA</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>1-800-273-8255</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>1-888-628-9454 – nacional de prevención del suicidio en Español</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Use your preferred relay service or dial 711 then 1-800-273-8255 for TTY users</li></small>
                        </ul>
                    </h3>
                    <h4>Online Counseling</h4>
                    <h3>
                        <ul>
                            <small><li>BetterHelp – speak with a licensed counselor online</li></small>
                        </ul>
                    </h3>
                    <h3>
                        <ul>
                            <small><li>Mental health resources for those who cannot afford therapy at the moment – a thread of several online counseling resources by Tiffany Howard on Twitter</li></small>
                        </ul>
                    </h3>
                </div>
                <hr>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
  <div class="section" id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/quotes.jpg" alt="Random fourth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/quote.jpg" alt="Random fifth slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Do you need help or someone you know?</h2>
                <h3 class="description">Cause if you do, we are here for you.</h3>
                <h3 class="description">You can always reach to us.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 download-area ml-auto mr-auto">
                <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="#" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-google-plus"></i> Google
                </a>
                <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="#" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i> Star
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer *ngIf="removeFooter()"></app-footer>
